* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a, li {
    font-size: inherit;
    color: inherit;
    font-style: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}