.page {
    display: flex;
    align-items: stretch;
}

.chats li {
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s all ease;
}

.chats .current, .chats li:hover {
    background: rgba(128, 128, 128, 0.353);
}

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}