.item {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .3s all ease;
    cursor: pointer;
    margin-top: 10px;
    &:hover, &.active {
        background-color: gray;
        color: #fff;
    }
}