.chat {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: calc(100vh - 64px);
}

.heading {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 10px;
}

.description {
    font-size: 20px;
}

.right {
    font-size: 40px;
}