.chat {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    flex: 1 1 auto;
    height: calc(100vh - 64px);
}

.heading {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

.description {
    font-size: 20px;
}